In [1]:
import pymysql

In [10]:
user_conf = {
    "host": "localhost",
    "port": 3306,
    'user': "root",
    "passwd": "root",
    "db": "TESTDB",
    "charset": "utf8mb4",
}

In [11]:
conn = pymysql.connect(**user_conf)

In [12]:
import datetime

datetime.date(2023, 1,1)

datetime.date(2023, 1, 1)

In [13]:
a = [2022, 1, 5]
datetime.date(*a)

datetime.date(2022, 1, 5)

In [14]:
cursor = conn.cursor()

In [15]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

In [16]:
cursor.execute(sql)

1

In [17]:
conn.commit()

In [9]:
# cursor.close()
# conn.close()

In [18]:
sql = "select * from Staff"
cursor.execute(sql)

1

In [19]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [20]:
cursor.fetchall()

()

In [21]:
sql = "select * from Staff"
cursor.execute(sql)
data = [i for i in cursor.fetchall()]

In [22]:
data

[('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57))]

In [23]:
# 先寫好 SQL 語法
sql = """
DELETE FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [24]:
conn.commit()

In [25]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

In [26]:
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [27]:
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

[('001', 'Mike', '002', '45', 'M', '60000', '2023-01-07 15:37:40'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2023-01-07 15:37:40'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2023-01-07 15:37:40'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2023-01-07 15:37:40'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2023-01-07 15:37:40'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2023-01-07 15:37:40'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2023-01-07 15:37:40'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2023-01-07 15:37:40')]

In [28]:
cursor.executemany(sql_insert, values)

8

In [29]:
conn.commit()

In [30]:
cursor.close()
conn.close()